.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0, 179, 250);
    padding: 50px;
    background-color:cornsilk;
    
    
}

.containerSecundario{
    text-align: center;
}

